.novaezsiteaccessfactory-app {
    margin-top: 20px;

    .sidebar {
        border-right: 1px solid red;
    }

    svg.ez-icon.edit-button {
        fill: #f15a10;
        width: 25px;
        height: 25px;
    }

    svg.ez-icon.disabled {
        fill: #ccc;
        width: 25px;
        height: 25px;
    }

    form {
        .form-check {
            .form-check-label {
                display: inline-block;
            }
        }

        .form-group {
            .d-block {
                display: inline !important;
            }
        }

        fieldset.form-group legend {
            font-weight: 700;
            font-size: 14px;
            color: #555;
            margin-bottom: 0;
            margin-top: 20px;
        }

        label.required:after, legend.required:after {
            color: red;
            content: " *";
        }

        .form-check {
            label.required:after {
                content: ''
            }
        }

        input:required:focus {
            border: 1px solid red;
            outline: none;
        }

        input:required:hover {
            opacity: 1;
        }
    }

    .novaezsiteaccessfactory-button-actions {
        padding: 5px;

        a, button {
            svg {
                fill: #fff;
            }

            span {
                color: #fff;
                margin-top: 7px;
                padding-left: 5px;
                display: block;
                float: right;
            }
        }
    }

    .novaezsiteaccessfactory-table-actions {
        margin: 0;
        width: 100%;

        td {
            padding: 10px;

            &.disabled {
                color: #ccc;
            }
        }
    }

    tr.siteconfig {
        height: 100px;
    }

    .novaezsiteaccessfactory-site-actions-button {
        svg {
            width: 15px;
            height: 15px;
        }
    }

    form[name=site_configuration] {
        .form-group {
            label, legend.col-form-label {
                font-size: 1.34em;
                font-weight: bold;
                color: #000;
            }

            padding-bottom: 20px;

            .form-check-label {
                font-weight: normal;
            }
        }
    }
}
